@import url(./normalize.css);
@import url(./vars.css);

html,
body {
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    min-height: 100vh;
}

.menu {
    padding-left: 0;
    list-style: none;
}

.header {
    padding: 17px 0;
}

.container {
    max-width: var(--width-container);
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.menu {
    display: flex;
    gap: 20px;
    font-size: 16px;
    margin: 0;
}

.menu_link {
    color: var(--main-font-color);
    text-decoration: none;
    transition: all .2s ease-in;
}

.menu_link:hover {
    color: orange;
}

.btn {
    border: 1px solid orange;
    border-radius: 4px;
    color: white;
    background: orange;
    padding: 13px;
    font-size: 16px;
}

.menu_btn {
    width: 110px;
    font-weight: 600;
}

.menu_btn:first-child {
    border: 1px solid #BCD0E5;
    background: white;
    color: black;
    margin-right: 32px;
}