@import url(./normalize.css);
@import url(./vars.css);

html,
body {
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    color: var(--main-font-color);
    min-height: 100vh;
}

.title {
    color: #2F281E;
}

.menu,
.designers_list,
.product-managers_list {
    padding-left: 0;
    list-style: none;
}

.header {
    padding: 17px 0;
}

.container {
    max-width: var(--width-container);
    margin: 0 auto;
    padding: 0 15px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
    margin: 0;
    line-height: 28px;
}

.menu_link {
    color: var(--main-font-color);
    text-decoration: none;
    transition: all .2s ease-in;
}

.menu_link:hover {
    color: orange;
}

.btns {
    display: flex;
    gap: 32px;
}

.btn {
    border: 1px solid orange;
    border-radius: 4px;
    color: white;
    background: orange;
    padding: 13px;
    transition: all .2s ease-in;
}

.small_btn {
    width: 110px;
    font-weight: 600;
}

.btn:hover {
    border: 1px solid #BCD0E5;
    background: white;
    color: black;
}

.hero {
    margin-top: 70px;
}

.hero_title {
    font-size: 44px;
    line-height: 54px;
    margin-top: 0;
    margin-bottom: 30px;
}

.hero_text {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

.hero_content {
    align-items: center;
}

.large_btn {
    width: 180px;
    font-weight: bold;
}

.hero_btn {
    margin-top: 20px;
}

.flex_hero {
    gap: 56px;
}

.section {
    margin-top: 100px;
}

.features {
    background-image: url(../assets/img/bg.png);
    background-size: cover;
    background-position: center;
}

.features_title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.card {
    width: 270px;
}

.card_icon {
    width: 50px;
    height: 50px;
}

.flex-card {
    gap: 40px;
}

.card_title {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 16px;
}

.card_text {
    margin: 0;
}

.flex-btn {
    display: flex;
    justify-content: center;
}

.features_btn {
    margin-top: 70px;
    margin-bottom: 74px;
}

.flex-designers {
    gap: 113px;
}

.designers_text,
.product-managers_text {
    margin: 0;
}

.designers_ttile,
.product-managers_ttile {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.designers_list,
.product-managers_list {
    margin-top: 40px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.designers_subtitle {
    margin-top: 0;
    margin-bottom: 10px;
}

.flex-product-managers {
    flex-direction: row-reverse;
    gap: 125px;
}

.product-managers_item {
    display: flex;
    gap: 30px;
}